<div class="form-group name mb-3 d-flex ">
  <label
    class="image-upload-container btn btn-bwm"
    *ngIf="false"
  >
    <span >Seleccione imagen</span>
    <input #imageInput
          type="file"
          class="form-control"
          accept="image/*"
          (change)="processFile(imageInput)"

    >
  </label>

  <label class="image-link-container btn btn-bwm">
    <span [ngClass]="textColor" >Ingrese el link de su imagen</span>
    <input class="form-control" id="new_image_url" type="text" [(ngModel)]="url">
  </label>

  <div *ngIf="selectedFile" class="img-preview-container">

    <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
        [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
    </div>

    <div *ngIf="selectedFile.pending" class="img-loading-overlay">
      <div class="img-spinning-circle"></div>
    </div>

    <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded Succesfuly!</div>
    <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div>
  </div>
</div>
