<form [formGroup]="formulario" (ngSubmit)="onAcept()">
  <div class="form-group">
    <label></label>
    <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" >
  </div>
  <div class="form-group">
    <label></label>
    <input class="form-control" type="text" placeholder="Porcentaje" formControlName="porcentaje">
  </div>

  <input type="submit" value="Aceptar" class="btn btn-ligth float-end">
  <app-cancelar-button
    texto="Cancelar"
    [cruz]="false"
    (onClickButton)="onCancel()"
  >
  </app-cancelar-button>
</form>
