.buttons
  bottom: 1rem
  right: 1rem

.buttons
  button
    padding: 0 1rem

.card.proyecto
  max-width: 30rem
  width: 30rem

.HTML
  background-color: #ffea00

.Vue.Js
  background-color: #005eff

.Tailwing
  background-color: #225803

.JavaScript
  background-color: #991abc

.WordPress
  background-color: #ff1e00

.Angular
  background-color: #ff7700

.Java
  background-color: rgb(0, 255, 115)

.Spring.Boot
  background-color: rgb(255, 0, 255)

.Phyton
  background-color: #330933


.proyect-image
  max-height: 10rem

//TODO estética - agregar estilo en la habilidad?
