<app-card title="Habilidades">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title"> Habilidades blandas y duras </h5>
      <app-agregar-button
        *ngIf="visibleButton && !agregandoNuevo"
        (onClickButton)="onAdd($event)"
      ></app-agregar-button>
      <app-cancelar-button
        *ngIf="visibleButton && agregandoNuevo"
        class="float-end"
        (onClickButton)="onCancelAdd()"
      ></app-cancelar-button>
    </div>
    <div
    class="row habilidad-item-editable g-0"
    *ngIf="agregandoNuevo"
  >
    <app-habilidad-item-edit
      (onClickAcept)="onAddConfirm()"
      (onClickCancel)="onCancelAdd()"
      [editando]="false"
    ></app-habilidad-item-edit>
  </div>
    <app-habilidades-item
      *ngFor="let habilidad of arrHabilidad"
      [habilidad]="habilidad"
    ></app-habilidades-item>
  </div>
</app-card>
