<nav class="container-lg navbar navbar-expand-sm navbar-dark ">
  <div class="col-auto me-auto d-flex flex-row align-self-start h-100 ps-3">
    <div class="brand-container h-sm-100">
      <a class="navbar-brand" href="#">
        <img
          class="img-fluid h-100"
          src="assets\APSoloLogo.png"
          alt="LogoAp"
        />
      </a>
    </div>
    <div class="nav-item arg-prog d-flex align-items-center text-nowrap fw-bold pe-2">Argentina Programa</div>
    <div class="nav-item  yo-prog d-flex align-items-center">#YoProgramo</div>
  </div>
  <div class="col-auto text-light d-flex flex-row justify-content-end pe-3">
    <div class="navbar-nav social-nav d-flex flex-row">
      <li class="nav-item px-2 px-sm-0">
        <a
          href="https://github.com/pauladruetta"
          target="_blank"
          class="nav-link"
        >
          <fa-icon [icon]="['fab','github']"></fa-icon>
        </a>
      </li>
      <li class="nav-item px-2 px-sm-0">
        <a
          href="https://www.linkedin.com/in/paula-druetta-06466b1a7/"
          target="_blank"
          class="nav-link"
        >
          <fa-icon [icon]="['fab','linkedin-in']"></fa-icon>
        </a>
      </li>
    </div>
    <app-login (toggleEdit)="onToggleEdit()"></app-login>
  </div>
</nav>
