<app-card title="Acerca">
  <div class="d-flex">
    <div class="card" style="width: 15rem;">
      <div class="img-box rounded-circle ratio ratio-1x1 overflow-hidden border-0">
        <img src="assets\FotoCV.jpg" class="card-img-top" alt="Foto">
      </div>
      <div class="card-body">
        <p class="card-text name">Paula Druetta</p>
        <p class="card-text title">Full Stack Developer jr.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> Acerca </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</app-card>

