<app-card title="Acerca">
  <div class="d-flex">
    <div class="card" style="width: 15rem;">
      <div class="img-box rounded-circle ratio ratio-1x1 overflow-hidden border-0">
        <img [src]="persona.imagen" class="card-img-top" alt="Foto">
        <app-edition-button *ngIf="visibleButton" ></app-edition-button>
      </div>
      <div class="card-body">
        <p class="card-text name">{{ persona.nombre }} {{persona.apellido }}</p>
        <p class="card-text title">{{ persona.titulo }}</p>
      </div>
      <app-edition-button *ngIf="visibleButton" ></app-edition-button>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> Acerca </h5>
        <p class="card-text">{{ persona.descripcion }}</p>
      </div>
      <app-edition-button *ngIf="visibleButton" ></app-edition-button>
    </div>
  </div>
</app-card>

