<div
  class="progress-box  p-2 d-flex"
  *ngIf="visibleItem"
>
  <div class="habilidad progress m-2" *ngIf="!editable">
    <div
      class="progress-bar bg-success progress-bar-striped progress-bar-animated"
      role="progressbar"
      [style]="'width: '+ habilidad.porcentaje+'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
    >
      {{ habilidad.habilidad.nombre }}
    </div>
  </div>
  <!-- <div class="m-2 w-75" *ngIf="editable">
    <input id="nombre_edition" class="card-text mb-1" [value]="habilidad.nombre ">
    <input id="porcentaje_edition" class="card-text mb-1" [value]="habilidad.porcentaje">
  </div> -->

  <div
    *ngIf="editable"
  >
    <div class="row g-0">
      <app-habilidad-item-edit
        [Habilidad] = "habilidad"
        (onClickAcept)="onConfirm()"
        (onClickCancel)="onCancel()"
        [editando]="true"
      ></app-habilidad-item-edit>
    </div>
  </div>
<!--FIXME Al borrar avisar cuando no es posible-->
  <div class="buttons d-flex">
    <app-edition-button
      *ngIf="visibleButton && !editable"
      class="ps-2"
      (onClickButton)="onEdit($event)"
    >
    </app-edition-button>
    <app-eliminate-button
      *ngIf="visibleButton && !editable"
      class="px-2"
      (onClickButton)="onDelete()"
      [element]="'Hb'+habilidad.id"
    >
    </app-eliminate-button>
    <!-- <app-aceptar-button
      *ngIf="visibleButton && editable"
      (onClickButton)="onAcept()"
    ></app-aceptar-button>
    <app-cancelar-button
      *ngIf="visibleButton && editable"
      (onClickButton)="onCancel()"
    ></app-cancelar-button> -->
  </div>
</div>
