<div
  class="portada-container w-100 p-3 position-relative d-flex flex-column flex-md-row justify-content-center"
  [ngStyle]="{'background-image': ' url('+ persona.imagen_portada + ')'}"
>
<!--TODO sanitizar-->
  <!-- <img
    class="img-fluid w-100"
    [src]="persona.imagen_portada"
    alt="LogoAp"
  /> -->
  <div
    class="edit-image d-flex justify-content-center mt-3 mb-3 flex-column"
    [ngClass]="{'mb-3': editable}"
  >
    <app-lector-imagen
      *ngIf="visibleButton && editable"
      textColor=" text-light"
      class=" d-flex justify-content-center text-light bg-black bg-opacity-50 "
    ></app-lector-imagen>
    <div
      class="buttons-image d-flex justify-content-center flex-row"
      [ngClass]="{'mb-3': editable}"
    >
      <app-aceptar-button
        *ngIf="visibleButton && editable"
        class="m-2"
        (onClickButton)="onAcept($event)"
      ></app-aceptar-button>
      <app-cancelar-button
        class="m-2"
        buttonClass = banner
        [cruz]="false"
        texto="Cancelar"
        *ngIf="visibleButton && editable"
        (onClickButton)="onCancel()"
      ></app-cancelar-button>
    </div>
  </div>
  <div class="buttons d-flex position-absolute">
      <app-edition-button
        *ngIf="visibleButton  && !editable"
        (onClickButton)="onEdit($event)"
      >
      </app-edition-button>
  </div>
</div>
