<div class="portada-container w-100 p-3 position-relative d-flex justify-content-center">
  <img
    class="img-fluid w-100"
    [src]="persona.imagen_portada"
    alt="LogoAp"
  />
  <div class="edit-image d-flex justify-content-center mt-3 flex-column position-absolute">
    <app-lector-imagen
      *ngIf="editable"
      textColor=" text-light"
      class=" d-flex justify-content-center text-light bg-black bg-opacity-50 "
    ></app-lector-imagen>
    <div class="buttons-image d-flex justify-content-center flex-row ">
      <app-aceptar-button
        *ngIf="visibleButton && editable"
        class="m-2"
        (onClickButton)="onAcept($event)"
      ></app-aceptar-button>
      <app-cancelar-button
        class="m-2"
        buttonClass = banner
        [cruz]="false"
        texto="Cancelar"
        *ngIf="visibleButton && editable"
        (onClickButton)="onCancel()"
      ></app-cancelar-button>
    </div>
  </div>
  <div class="buttons d-flex position-absolute">
      <app-edition-button
        *ngIf="visibleButton  && !editable"
        (onClickButton)="onEdit($event)"
      >
      </app-edition-button>
      <!--FIXME en movil al editar la foto de portada, la foto de perfil tapa los botones--
        >
            <!--FIXME En pantalla grande supera la hoja, queda mal, en celu queda chico, pensar diseño No se ve el botón de editar-->
  </div>
</div>
